<!DOCTYPE html>
<html lang="pt-br"> 

<head>
    <link rel="icon" href="/static/favicon.jpeg">
    <title> Formulário dos Coletores </title>
    <link rel="stylesheet" href="/static/style.css">
    <img src="/static/Grupo_Petz_Cobasi.png" alt="img" style="width:144px;height:68px;" class="logo">
 
</head>
<div class="header">
<header>
    Formulário de Inventário dos Coletores
</header>
<br>
</div>
<div class="body">
    <body>
    <h1>
        Preencha as informações abaixo:
    </h1>
    <br>
<div class="form">
        <form>
        <label for="text">Nº do Coletor:</label>
        <br>
        <input type="text", placeholder="ex.: C00001">
        <br>
        <label for="text">Fabricante:</label>
        <br>
        <input type="text", placeholder="ex.: Zebra">
        <br>
        <label for="text">Serial:</label>
        <br>
        <input type="text">
        <br>
        <label for="text">CD:</label>
        <br> 
        <select name="cd" id="cd">
            <option value="cdem_sp">CD Embu</option>
            <option value="cde2_sp">CD Embu 2</option>
            <option value="cdma_sp">CD Mauá</option>
            <option value="cdhd_go">CD Hidrolândia</option>
        </select>
        <br>
        <label for="text">Local/Área</label>
        <br>
        <select name="local_area" id="local_area">
            <option value="area_b_k_w">ÁREA B/K/W</option>
            <option value="ecommerce">E-COMMERCE</option>
            <option value="expedicao_checkout">EXPEDICAO/CHECKOUT</option>
            <option value="gestao_de_estoque">GESTAO DE ESTOQUE</option>
            <option value="mezanino_farmacia">MEZANINO/FARMACIA</option>
            <option value="operacao_cd_2">OPERACAO CDE2-SP</option>
            <option value="operacao_cdhd">OPERACAO CDHD-GO</option>
            <option value="operacao_cdma">OPERACAO CDMA-SP</option>
            <option value="qualidade">QUALIDADE</option>
            <option value="recebimento_guarda">RECEBIMENTO/GUARDA</option>
            <option value="sem_area">SEM AREA</option>
        </select>
        <br>
        <label for="status">Status</label
        ><br>
        <select name="status" id="local_area">
            <option value="em_operacao">EM OPERAÇÃO</option>
            <option value="estoque_cd">ESTOQUE CD</option>
            <option value="manutencao">MANUTENÇÃO</option>
            <option value="inativado">INATIVADO</option>
        </select>
        <br>
        <label for="text">Observações</label>
        <br>
        <textarea name="observacoes" rows="6" cols="38"></textarea>
        <br>
        <button> Enviar </button>
    </form>
</body>
<br>
</html>
