<!DOCTYPE html>

<!--
This is commented out text.
And this is a repetition.
-->
<head>
<meta charset="UTF-8">
<title>Teste dos estudos</title>
<link rel="shortcut icon" href="miranha.jpg">
</head>
<header>
ISTO É UM TESTE 
</header>
<body>
<article>
  <audio controls>
  <source src="Among (online-audio-converter.com).wav" type="audio/wav">
  <p>Se o audio não reproduzir, seu navegador não suporta o <audio></p>
  </audio>
  <svg width="25" height="25">
  <rect width="25" height="25" style="fill:rgb(0,0,255);stroke: width 10px;;stroke:rgb(0,0,0)">
  </svg>
<div style="background-color: #d30a3c">
    <form oninput="result.value=parseInt(x.value)+parseInt(y.value)">
  0<input type="range" id="x" value="75">200
  +<input type="number" id="y" value="72">
  =<output name="result" for="x y"></output>
</form>
<p>Se você consegue ler essa frase parabéns, você sabe ler.</p>
</div>
</article>
<h2>The premiere show starts at  <time> 21:00 </time>  today.</h2>
</body>
<img src={{ url_for("static", filename="sda/miranha.jpg") }} alt="imagem" width= "480" height="240">


